.DS_Store
*.sw?
.env
__pycache__
.pytest_cache

node_modules/
reports/
build/

OpenZeppelin/
Uniswap/

flat.sol
artifacts-ovm
cache-ovm
typechain
typechain-ovm
artifacts
cache
artifacts-ovm
cache-ovm
env